html {
	font-size: 62.5%;
}

body {
	font-family: "Nunito", sans-serif;
	font-weight: 700;
	font-size: 1.6rem;
	margin: 1lvh 1lvw;
}

header {
	margin-top: 20px;
	margin: 1svh 2svw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	@media (width <=800px) {
		display: flex;
		flex-direction: column;
	}
	.logo {
		font-family: "SN Pro", sans-serif;
		font-size: 1rem;
		display: flex;
		text-align: left;
		align-items: center;

		a {
			text-decoration: none;
			color: black;
			&:visited{
				text-decoration: none;
				color: black;
			}
			&:hover{
				color: #00557f;
			}
		}
	}
	.nav {
		font-family: "SN Pro", sans-serif;
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		justify-content: flex-end;
		align-items: center;
		margin-right: 3svw;

		a {
			text-decoration: none;
			color: black;
			text-align: center;
			&:visited{	text-decoration: none;
				color: black;}
				&:hover{color: #00557f;}
		}
		@media (width <=800px) {

		};
	}
}
