
header{
	display: flex;
	justify-content: space-between;
	margin: 1svh 1svw;
	.logo {
		font-size: 1rem;
		color: light-dark(#000, #FFF);
		display: flex;
		text-align: center;
		align-items: center;

		a {
			text-decoration: none;
			color: light-dark(#000, #FFF);
			&:visited{
				text-decoration: none;
				color: light-dark(#000, #FFF);
			}
			&:hover{
				color: light-dark(hsl(200 100% 25%), hsl(200 100% 67%));
			}
		}
	}
	.nav {
		color: light-dark(#000, #FFF);
		display: flex;
		gap: 1.5rem;
		margin-right: 2svw;
		align-items: center;

		a {
			text-decoration: none;
			text-align: center;
			&:visited{	text-decoration: none;
				color: light-dark(#000, #FFF);
			}
			&:hover{
				color: light-dark(hsl(200 100% 25%), hsl(200 100% 67%));
			}
		}
		@media (width <=800px) {

		};
	}
}
