@property --matiz {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

@property --percentage {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 0%;
}

@keyframes multicor {
	from, to {
		--matiz: 0deg;
		--percentage: 0%;
	}

	50% {
		--matiz: 100deg;
		--percentage: 30%;
	}
}

:root {

}

html {
	font-size: 62.5%;
}

body {
	font-family: "Nunito", sans-serif;
	font-weight: 700;
	font-size: 1.6rem;
	margin: 1lvh 1lvw;
}

header {
	margin: 1svh 2svw;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 2fr;
	@media (width <=800px) {
		display: flex;
		flex-direction: column;
	}
	.logo {
		font-family: "SN Pro", sans-serif;
		font-size: 1rem;
		display: flex;
		text-align: left;
		align-items: center;

		a {
			text-decoration: none;
			color: black;
			&:visited{
				text-decoration: none;
				color: black;
			}
			&:hover{
				color: #00557f;
			}
		}
	}
	.nav {
		font-family: "SN Pro", sans-serif;
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		justify-content: flex-end;
		align-items: center;
		margin-right: 3svw;

		a {
			text-decoration: none;
			color: black;
			text-align: center;
			&:visited{	text-decoration: none;
				color: black;}
			&:hover{color: #00557f;}
		}
		@media (width <=800px) {

		};
	}

	.text{
		display: flex;
		align-content: flex-end;
		text-align: left;
		margin-right: 15svw;

		.IA-total {
			font-weight: 800;
			font-size: 1.65rem;
			color: hsl(calc(50deg + var(--matiz)) calc(70% + var(--percentage)) 30%);
			animation: multicor 2s infinite;
		}

		.IA-parcial {
			font-weight: 800;
			font-size: 1.65rem;
			color: hsl(calc(250deg + var(--matiz)) calc(70% + var(--percentage)) 30%);
			animation: multicor 2s infinite;
		}
	}

	.qrcode{
		display :flex;
		margin-right: -2rem;
		flex-direction: column;
		justify-content: flex end;
		align-items: center;

		img {
			width: 15rem;
			height: 15rem;
			border: 5px solid black;
			border-radius: 12px;
		}

		p {
			text-align: center;
		}
	}

}

main{
	.line{
		font-family: "Noto Sans Symbols 2", sans-serif;
		font-size: 1.9rem;
		overflow: hidden;
		height: 3rem;
		display: flex;
		justify-content: center;
		width: 100%;

		&::before{
			content: "⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓      ⚝      ⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓⎓";
			letter-spacing: 0.1rem;
			color: hsl(0 0 0);
			text-shadow: 3px 2px 2px red,
						0px 0px 3px blue,
						-3px -2px cyan;
			animation: multicor 2s infinite;
			white-space: pre;
		}
	}
}
