@property --matiz {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

@property --percentage {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 0%;
}

@keyframes multicor {
	from, to {
		--matiz: 0deg;
		--percentage: 0%;
	}

	50% {
		--matiz: 100deg;
		--percentage: 60%;
	}
}

:root {
	color-scheme: light dark;
	--text: light-dark(#000, #FFF);
	--bg: light-dark(#FFF, #151B28);
	--hover: light-dark(hsl(200 100% 25%), hsl(200 100% 67%));
	--border: light-dark(black, grey);
	--shadow: light-dark(hsl(0 0 80%), hsl(0 0 15%));
}

/* Utilitários */

.flex {
	display: flex;
}

html {
	font-size: 62.5%;
	background-color: var(--bg);
}

body {
	font-family: "Nunito", sans-serif;
	font-weight: 700;
	font-size: 1.6rem;
	margin: 1lvh 1lvw;
	@media (width <=480px) {
		padding: 1rem;
	}

	.sensor_scroll{
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		visibility: hidden;
		height: 1px;
	}
	.sticky_header{
		position: sticky;
		top: 0;
		z-index: 1;
		background: var(--bg);
		justify-content: space-between;
		.logo {
			font-size: 1rem;
			margin-left: 2svw;
			text-align: center;
			align-items: center;
			@media (width <= 480px) {
				display: block;
				padding-left: 1rem;
			}
			a {
				text-decoration: none;
				color: var(--text);
				&:visited{
					text-decoration: none;
					color: var(--text);
				}
				&:hover{
					color: var(--hover);
				}
			}
		}
		.nav_header {
			margin-right: 2svw;
			margin-top: 1svh;
			align-content: center;
			.menu-checkbox {
				display: none;
			}

			.links{
				gap: 1.5rem;
				align-items: center;
			}

			a {
				text-decoration: none;
				color: var(--text);
				text-align: center;
				&:visited{	text-decoration: none;
					color: var(--text);
				}
				&:hover{color: var(--hover);
				}
			}
			@media (width <= 800px) {
				margin-right: 2svw;
			}
			@media (width <= 480px) {
				margin-right: 0;
				.menu-checkbox {
					display: block;

					&:checked ~ .links {
						display: flex;
					}
				}

				.links{
					display: none;
					flex-direction: column;
					position: fixed;
					top: 6rem;
					right: 0;
					width: 70%;
					background: var(--bg);
					z-index: 2;
					box-shadow: 0 0 20rem black;

					a {
						margin: 0;
					}
				}

			}
		}
	}
	&:has(#sensor_scroll:not(:visible)) .sticky_header { height: 6rem; background: blue;}

}

h1, h2, h3, h4, h5, h6, a{
	font-family: "SN Pro", sans-serif;
}

header {
	justify-content: space-between;
	@media (width <=800px) {
		flex-direction: column;
	}
	@media (width < 480px) {
		margin: 0;
	}
	.text{
		margin-left: 2svw;
		text-align: justify;
		align-content: center;
		max-width: 50%;
		@media (width <=800px) {
			justify-content: center;
			text-align: justify;
			margin: 1rem;
			max-width: 100%;

		}
		@media (width <480px) {
			margin: 0;
		}

		.IA-total {
			font-weight: 800;
			font-size: 1.65rem;
			text-shadow: var(--shadow) 0px -1px;
			color: light-dark(hsl(107 70% 30%), hsl(125 70% 60%));
		}

		.IA-parcial {
			font-weight: 800;
			font-size: 1.65rem;
			text-shadow: var(--shadow) 0px -1px;
			color: light-dark(hsl(250 70% 30%), hsl(30 70% 50%));
		}
	}

	.qrcode{
		flex-direction: column;
		align-items: center;
		margin-right: 1.3svw;
		@media (width <= 480px) {
			display: none;
		}

		img {
			-webkit-user-select: none;
			user-select: none;
			width: 15rem;
			height: 15rem;
			border: 5px solid var(--border);
			border-radius: 12px;
		}

		p {
			text-align: center;
		}
	}

}

main{
	.line{
		font-family: "Noto Sans Symbols 2", sans-serif;
		font-size: 2rem;
		overflow: hidden;
		height: 3rem;
		display: flex;
		justify-content: center;
		width: 100%;

		&::before{
			content: "🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹         ◈         🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹🭹";
			letter-spacing: -0.2px;
			color: var(--text);
			text-shadow: -1.5px -1.5px 1px grey,
						0.5px 0.5px blue;
			white-space: pre;
		}
	}

	.themes{
		display: none; /*Altere aqui para flex para a aba temas reaparecer*/
		flex-direction: column;
		align-items: center;

		radio-picker {
			gap: 2rem;
			height: 10rem;
			align-items: center;
			label {
				&:has(input:checked) {
					outline: 1px solid #0008;
					box-shadow: inset 0px 0px 3px #000000;
				}
				&:has(:not(input:checked)) {
					box-shadow: 0px 0px 3px #000000;
				}

				-webkit-user-select: none;
				user-select: none;
				box-shadow: inset 0px 0px 1.2px 0px #000;
				padding: 1.5rem;
				cursor: pointer;
				background: var(--bg);
				&:hover{ background: #0004; }
				&:active{ background: #0007; }
			}

			&:has(#theme_mini:checked) + .p #p_mini,
			&:has(#theme_blog:checked) + .p #p_blog,
			&:has(#theme_old:checked) + .p #p_old,
			&:has(#theme_info:checked) + .p #p_info { --display-p: block; }
			&:has(#theme_glitch:checked) + .p #p_glitch {--display-p: inline-block; }

			&:hover + .p p {
				--display-p: none !important;
			}

			&:has(#theme_mini:hover) + .p #p_mini,
			&:has(#theme_blog:hover) + .p #p_blog,
			&:has(#theme_old:hover) + .p #p_old,
			&:has(#theme_info:hover) + .p #p_info { display: block; }
			&:has(#theme_glitch:hover) + .p #p_glitch { display: inline-block; }

			input {
				opacity: 0;
				position: absolute;
				pointer-events: none;
			}

			@media (width < 800px) {
				flex-wrap: wrap;
				gap: 1rem;
				margin-bottom: 3svh;
				justify-content: center;
			}
		}

		 .p {
			 display: grid;
			 place-items: center;
			 min-height: 7rem;
			> p{
				display: var(--display-p, none);
			}
			#p_glitch{
				transform: rotate(-15deg);
				margin-top: -0.6rem;
				&:first-letter{color: light-dark(green, lightgreen);font-size: 2rem;
					margin: -3px 3px 0px 0px;}
				.l{color: light-dark(blue, lightblue); font-size: 4rem;	letter-spacing: 0.2rem;
					margin: 2px 2px 0px 4px;}
				.i{display: inline-block; transform: rotate(8deg);
					letter-spacing: 0.5rem;}
				.t{display: inline-block; color: light-dark(purple, lightpink);
					transform: rotate(25deg); font-style: italic; font-weight: 700;
					letter-spacing: 0.5rem;}
				.c {display: inline-block; transform: skewX(15deg);
					transform: skewY(20deg);}
				&:last-letter{
					text-shadow: red 1px 1px 3px;
				}
			}
		 }
}
