main {
	a {
		text-decoration: none;
		color: var(--text);
		&:visited{
			text-decoration: none;
			color: var(--text);
		}
		&:hover{
			color: var(--hover);;
		}
	}

	@media (width <=800px) {
		.desktop {
			display: inline-block;
		}
	}
}
