@property --matiz {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

@property --percentage {
	syntax: "<percentage>";
	inherits: false;
	initial-value: 0%;
}

@font-face {
    font-family: 'Chamos';
    src: url('../src/fonts/CHAMOS.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@keyframes crt{
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(-145px);
    }
}

@keyframes multicor {
	from, to {
		--matiz: 0deg;
		--percentage: 0%;
	}

	50% {
		--matiz: 100deg;
		--percentage: 60%;
	}
}

:root {
	color-scheme: light dark;
	--text: light-dark(#000, #FFF);
    --bg-card: hsl(68 50% 80%);
	--bg: light-dark(hsl(60 45% 85%), hsl(221 25% 10%));
    --bg-darker: light-dark(hsl(60 30% 60%), hsl(221 15% 8%));
    --bg-lighter: light-dark(hsl(60 47% 90%), hsl(221 13% 15%));
	--hover: light-dark(hsl(60 90% 100%), hsl(200 100% 67%));
	--shadow: hsl(0 0 15%);
    --tema: hsl(215 40% 15%);
    --button: light-dark(hsl(40 40% 25%), hsl(221 15% 4%));
    --panda: url(../src/dog.cur);
    --pointer: url(../src/pointer.cur);
}

/* Utilitários */

.flex {
	display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.f14 {font-size: 1.4rem;}
.f16 {font-size: 1.6rem;}
.f18 {font-size: 1.8rem;}
.f20 {font-size: 2rem;}
.f22 {font-size: 2.2rem;}
.f24 {font-size: 2.4rem;}
.f26 {font-size: 2.6rem:}
.f28 {font-size: 2.8rem;}
.f30 {font-size: 3rem;}
.f32 {font-size: 3.2rem;}
.f34 {font-size: 3.4rem;}
.f36 {font-size: 3.6rem;}
.f38 {font-size: 3.8rem;}

.w100 {font-weight: 100;}
.w200 {font-weight: 200;}
.w300 {font-weight: 300;}
.w400 {font-weight: 400;}
.w500 {font-weight: 500;}
.w600 {font-weight: 600;}
.w700 {font-weight: 700;}
.w800 {font-weight: 800;}
.w900 {font-weight: 900;}

.sn-pro {
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.vt323 {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.momo-trust {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hr_vertical {
    width: 50%;
}

.desktop {
  	display: none;
	color: var(--text);
}

.IA-total {
	font-weight: 800;
	font-size: 1.65rem;
	text-shadow: var(--shadow) 0px -1px;
	color: light-dark(hsl(107 70% 30%), hsl(125 70% 60%));
}

.IA-parcial {
	font-weight: 800;
	font-size: 1.65rem;
	text-shadow: var(--shadow) 0px -1px;
	color: light-dark(hsl(250 70% 30%), hsl(30 70% 50%));
}

.simple-line {
    margin-top: 1lvw;
    display: block;
    height: 1px;
    border-bottom: 1px inset white;
}

.link_card {
    text-decoration: none;
    color: white;
    display: block;
    width: 25rem;
    height: 40rem;
    background: var(--highlight);
    background-image: url('../src/bg-card.jpg');
    box-shadow: 0px 0px 5px 0px #000;
    border-radius: 10px 10px 10px 10px;
    transition: transform 0.4s ease;
    border: rgb(0, 0, 0, 0.5) solid 2px;

    &:hover {
        & > h1 {
            z-index: 2;
            transform: perspective(500px) rotateY(25deg) rotateY(-25deg) translateZ(50px);
        }

        & > h1::before {
            display: block;
        }
    }

    & > h1 {
        transition: transform 0.5s ease;
        display: block;
        text-align: center;
        width: 95%;
        height: 20%;
        background: var(--tema);
        box-shadow: 2px 2px 4px var(--shadow), -2px -2px 4px var(--shadow);
        border-radius: 10px 10px 0px 0px;
        margin: 10px 0px 0px 6px;
        padding-top: 15%;
        margin-bottom: 17%;
    }

    & > h1::before {
        transition: transform 0.4s ease;
        content: '';
        display: none;
        position: absolute;
        inset: 0;
        height: 125%;
        box-shadow: 0 3px 4px var(--shadow);
        padin-top: 25%;
        border-radius: 10px 10px 0px 0px;
        backdrop-filter: blur(5px);
        z-index: -1;
    }

    & > p {
        display: flex;
        align-items: flex-start;
        text-align: justify;
        padding: 10px;
        height: 50%;
        box-shadow: 2px 2px 4px var(--shadow), -2px -2px 4px var(--shadow);
        color: black;
        font-size: 1.1em;
        margin: auto 5px auto 5px;
        overflow-wrap: break-word;
        word-break: break-word;
        background: var(--bg-card);
        border-radius: 0px 0px 10px 10px;
    }
}

html {
    font-size: 62.5%;
    background: var(--bg);
    ::selection {
        background: black;
        color: yellow;
    }
    body {
        font-size: 1.6rem;
        font-family: "Nunito", sans-serif;
	    font-weight: 700;
	    margin: 1lvh 1lvw;
	    @media (width <= 480px) {
		    padding: 1rem;
	    }
    }
}
