@property --matiz {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

@keyframes multicor {
	from, to {
		--matiz: 0deg;
	}

	50% {
		--matiz: 80deg;
	}
}

:root {

}

html {
	font-size: 62.5%;
}

body {
	font-family: "Nunito", sans-serif;
	font-weight: 700;
	font-size: 1.6rem;
	margin: 1lvh 1lvw;
}

header {
	margin: 1svh 2svw;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	@media (width <=800px) {
		display: flex;
		flex-direction: column;
	}
	.logo {
		font-family: "SN Pro", sans-serif;
		font-size: 1rem;
		display: flex;
		text-align: left;
		align-items: center;

		a {
			text-decoration: none;
			color: black;
			&:visited{
				text-decoration: none;
				color: black;
			}
			&:hover{
				color: #00557f;
			}
		}
	}
	.nav {
		font-family: "SN Pro", sans-serif;
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		justify-content: flex-end;
		align-items: center;
		margin-right: 3svw;

		a {
			text-decoration: none;
			color: black;
			text-align: center;
			&:visited{	text-decoration: none;
				color: black;}
			&:hover{color: #00557f;}
		}
		@media (width <=800px) {

		};
	}

	.text{
		display: flex;
		align-content: flex-end;
		text-align: left;
		margin-right: 15svw;

		.IA-total {
			color: hsl(calc(80deg + var(--matiz)) 70% 30%);
			animation: multicor 2s infinite;
		}

		.IA-parcial {
			color: hsl(calc(270deg + var(--matiz)) 70% 30%);
			animation: multicor 2s infinite;
		}
	}

	.qrcode{
		display :flex;
		flex-direction: column;
		justify-content: flex end;
		align-items: center;

		img {
			width: 15rem;
			height: 15rem;
		}

		p {
			text-align: center;
		}
	}
}
