<header>
	<div class="logo">
		<a href="./index.html"><h1 style="color: light-dark(black, white); font-weight: 400">gs.sandbox.nom.br<br>
				(site por Guilherme Schimith)</h1></a>
	</div>
	<div class="nav">
		<a href=""><p style="color: light-dark(black, white)">Blog</p></a>
		<a href=""><p style="color: light-dark(black, white)">SandBox</p></a>
		<a href="projetos.html"><p style="color: light-dark(black, white)">Projetos</p></a>
		<a href=""><p style="color: light-dark(black, white)">Quem Sou?</p></a>
	</div>
</header>
